@{
  Layout = "_MachineLayout";
}
@model Factory.Models.Machine

<h1>Add an engineer</h1>
<h2>Add an engineer qualified to repair: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.Label("Select engineer")
  @Html.DropDownList("EngineerId")
  <input type="submit" value="Save" />
}