@{
  Layout = "_MachineLayout";
}
@model Factory.Models.Machine

<h1>Add a new machine</h1>

@using (Html.BeginForm())
{
  @Html.Label("Make/Model")
  @Html.TextBoxFor(model => model.Name, new { required="required" })
  @Html.Label("Select engineer")
  @Html.DropDownList("EngineerId", (SelectList)ViewBag.EngineerId, "None")

  <input type="submit" value="Add new machine" />
}